@font-face {
	font-family: 'NotoSansMono';
	font-style: normal;
	font-weight: normal;
	src:
		local(''),
		url('/fonts/NotoSansMono-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'YesevaOne';
	font-style: normal;
	font-weight: normal;
	src:
		local(''),
		url('/fonts/YesevaOne-Regular.ttf') format('truetype');
}
